<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478168368282-qq2arrtmmipdubc0scioerrjqsr5j6ip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478168368282-qq2arrtmmipdubc0scioerrjqsr5j6ip</string>
	<key>API_KEY</key>
	<string>AIzaSyA_AXjNaiGJZ6inO-GXHOYK6fzVAHoEaP0</string>
	<key>GCM_SENDER_ID</key>
	<string>478168368282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.absenOnline</string>
	<key>PROJECT_ID</key>
	<string>presensiulm</string>
	<key>STORAGE_BUCKET</key>
	<string>presensiulm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478168368282:ios:81c74af4320e4f953d0b23</string>
</dict>
</plist>